<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PhishDetector</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/newlogo.jpg" rel="icon">
  <link href="static/assets/img/newlogo.jpg" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="static/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      
      <h1 class="logo mr-auto"><a href="{{ url_for('home') }}">PhishDetector</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{{ url_for('home') }}" class="logo mr-auto"><img src="static/assets/img/newlogo.jpg" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
          <li><a onclick="scrolldiv()">About</a></li>
          <li><a href="{{ url_for('usecases') }}" target="_blank" rel="no-openner no-referrer">Usecases</a></li>
          <li class="drop-down"><a href="{{ url_for('home') }}">Help</a>
            <ul>
              <li class="drop-down"><a href="#">Report Phishing Cases</a>
                <ul>
                  <li><a href="https://safebrowsing.google.com/safebrowsing/report_phish/?hl=en" target="_blank">Google Safe Browsing</a></li>
                  <li><a href="https://support.google.com/websearch/answer/106318" target="_blank">Google Support</a></li>
                </ul>
              </li>              
              <li class="drop-down"><a href="#">Take Phishing Quiz</a>
                <ul>
                  <li><a href="https://www.phishingbox.com/phishing-iq-test" target="_blank">Phishingbox</a></li>
                  <li><a href="https://www.intradyn.com/phishing-quiz/" target="_blank">Intradyn</a></li>
                </ul>
              </li>
              <!-- <li><a href="#">For Future Reference</a></li> -->
            </ul>
          </li>
          <!-- <li><a href="#">Future Reference</a></li> -->

        </ul>
      </nav><!-- .nav-menu -->

      <a href="static\assets\Phishing Website Identification.pdf" class="get-started-btn scrollto" download="nofallmagaguide">Download Guide <i class='bx bxs-download'></i></a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h1>FAKE WEBSITE DETECTION</h1>
            <form action="/result" method="POST" role="form" class="form">
        <div class="row no-gutters">
          <div class="col-md-6 form-group pr-md-1">
              <input type="url" name="name" class="form-control" id="name" placeholder="Enter a URL link in format http or https" required>
          </div>
        </div>
        <div class="text-center"><button type="submit">Scan URL</button></div>
        <p>
          {% if name %}
          <b><p>{{name[0]}}</p></b>
          <h2 style="color:blue;">Website is {{name[1]}} to use</h2><br>
            {% if name[3] %}
            <button class="button1" onclick="window.open('{{name[0]}}')" target="_blank" >{{name[2]}}</button><br>
            {% else %}
            <button class="button2" onclick="window.open('{{name[0]}}')" target="_blank" >{{name[2]}}</button><br>
            {% endif %}
          {% endif %}
      </p>
      </form> 
      <img src="static\assets\img\Phishing.gif" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150"><br><br><br>
    </div>
    <script>
        
            /*let x = '{{xx}}';
            let num = x*100;
            if (0<=x && x<0.50){
                num = 100-num;
            }
            let txtx = num.toString();
            if(x<=1 && x>=0.50){
                var label = "Website is "+txtx +"% safe to use...";
                document.getElementById("prediction").innerHTML = label;
                document.getElementById("button1").style.display="block";
            }
            else if (0<=x && x<0.50){
                var label = "Website is "+txtx +"% unsafe to use..."
                document.getElementById("prediction").innerHTML = label ;
                document.getElementById("button2").style.display="block";
            }*/
        
    </script>
  </section><!-- End Hero -->

     <!-- ======= Frequently Asked Questions Section ======= -->
     <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
  
          <div class="faq-list">
            <ul>
              <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">What is phishing <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                  <p>
                    Phishing is a cybercrime in which a target or targets are contacted by email, telephone, or text message by someone posing as a legitimate institution to lure individuals into providing sensitive data such as personally identifiable information, banking and credit card details, and passwords.
                    OR 
                    Phishing is a cyber attack where the attacker tricks the target into disclosing personal information, revealing login credentials, or transferring money.
                    </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Why should I bother Knowing what Phishing is all about <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                  <p>
                      The purpose of phishing is to collect sensitive information with the intention of using that information to gain access to otherwise protected data, networks, etc. A phisher's success is contingent upon establishing trust with its victims. <br><br>
                      Successful Phishing attacks can: <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> Cause financial loss for victims <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> Put their personal information at risk <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> Put data and systems at risk
                  </p>
                </div>
              </li>    

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Two Major Types of Phishing Attack<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                  <p>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> <b> Deceptive Phishing:</b> Deceptive phishing is by far the most common type of phishing scam. In this ploy, fraudsters impersonate a legitimate company to steal people’s personal data or login credentials. Those emails frequently use threats and a sense of urgency to scare users into doing what the attackers want. <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> <b>Spear Phishing:</b> Spear Phishing targets specific individuals instead of a wide group of people. Attackers often research their victims on social media and other sites. That way, they can customize their communications and appear more authentic. <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> <b>Other phishing Technique</b> <i class='bx bxs-hand-down'></i><br><br>
                      <i class='bx bx-right-arrow-alt icon-arrrow'></i> <b>Angler Phishing:</b> This cyberattack comes by way of social media. It may involve fake URLs, instant messages or profiles used to obtain sensitive data. Attackers also peruse social profiles to glean any personal information they can use for social engineering. <br><br>
                      <i class='bx bx-right-arrow-alt icon-arrrow'></i> <b>Clone Phishing:</b> Clone phishing involves exact duplication of an email to make it appear as legitimate as possible.<br><br>
                      <i class='bx bx-right-arrow-alt icon-arrrow'></i> <b>Domain Spoofing:</b> In this category of phishing, the attacker forges a company domain, which makes the email appear to be from that company.<br><br>
                      <i class='bx bx-right-arrow-alt icon-arrrow'></i> <b>Email Phishing:</b> Phishing emails are often the first to come to mind when people hear the term phishing. Attackers send an illegitimate email asking for personal information or login credentials.<br><br>
                      <i class='bx bx-right-arrow-alt icon-arrrow'></i> <b>Search Engine Phishing:</b> Rather than sending correspondence to you to gain information, search engine fishing involves creating a website that mimics a legitimate site. Site visitors are asked to download products that are infected with malware or provide personal information in forms that go to the attacker.<br><br>
                      <i class='bx bx-right-arrow-alt icon-arrrow'></i> <b>Smishing:</b> Combine SMS with phishing and you have the technique called smishing. With smishing, attackers send fraudulent text messages in an attempt to gather information like credit card numbers or passwords.<br><br>
                      <i class='bx bx-right-arrow-alt icon-arrrow'></i> <b>Whaling:</b> A whaling attack targets the big fish, or executive-level employees. An attack of this sort often involves more sophisticated social engineering tactics and intelligence gathering to better sell the fake.<br><br>
                      <i class='bx bx-right-arrow-alt icon-arrrow'></i> <b>Vishing:</b> Combine VoIP with phishing and you get vishing. This type of phishing involves calls from a fraudulent person attempting to obtain sensitive information.<br><br>
                      <i class='bx bx-right-arrow-alt icon-arrrow'></i>  <b>Malvertising:</b> Malvertising is malicious advertising that contains active scripts designed to download malware or force unwanted content onto your computer. Exploits in Adobe PDF and Flash are the most common methods used in malvertisements<br><br>
                  </p>
                </div>
              </li>              
              
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">How to Prevent and Protect Against Phishing As An End-user<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                  <p>
                      To help prevent phishing attacks, you should observe general best practices, similar to those you might undertake to avoid viruses and other malware. First, make sure your systems are updated to help protect against known vulnerabilities. Protect devices and systems with reputable security software and firewall protection. You can also add software that watches for PII being sent over email or other insecure methods.Since the weak link in phishing attacks is the end user, you should provide proper end-user security awareness training and educate your team on how to recognize a phishing scam. The key to protecting against phishing lies in the ability to recognize the cyberattack as illegitimate. Following are some key concepts to include in end-user training: <br><br>

                      <i class='bx bxs-chevron-right-circle icon-circle'></i> Users are to choose strong passwords and be wary of posting your personal details on social media. Information like birthdates, addresses and phone numbers are valuable to an attacker. <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> If there are any suspicions about an email or social post, contact the IT team to have them examine the situation. <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> Only open attachments from a trusted source. When in doubt, check with the alleged sender directly. <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> Note any language differences in messaging or emails that vary from legitimate organizational communications. <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> Never give away personal information in an email or unsolicited call. For instance, financial institutions will never call and ask for login credentials or account info because they already have it. <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> Inspect emails for typos and inaccurate grammar. This is usually a dead giveaway of less-sophisticated phishing scams. <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> Don’t supply personal information via email or text. <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> Beware of urgent or time-sensitive warnings. Phishing attacks often prompt action by pretending to be urgent. <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> Verify emails and other correspondence by contacting the organization directly. If you think something is fishy (okay, bad pun), a phone call can quickly identify a legitimate call from a fake one. <br><br>

                  </p>
                </div>
              </li>              
              
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">How to Prevent and Protect Against Phishing As A Company<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                  <p>
                      Since we can’t control the criminals, let’s take a look at how you can prevent phishing attacks. <br>

                      <i class='bx bxs-chevron-right-circle icon-circle'></i> <b>Train Your Employees</b> - Unsuspecting employees who are not trained to identify phishing emails are easily tricked. If they click on a link, open an attachment, or respond to the email, they could be giving the attacker exactly what they need to break into your system. Training is by far the most crucial action you can take to avoid phishing attacks. By investing in your employees’ security education, you empower them to take ownership of security best practices. With training, your employees can identify a phishing email and report suspicious activity before any information is compromised. <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> <b>Update Your Antivirus Software</b>- Keeping your antivirus software updated adds a layer of security. The software will scan files coming into your computer, preventing possible damage. Ensure that your anti-spyware and firewall settings are active.  <br><br>
                      <i class='bx bxs-chevron-right-circle icon-circle'></i> <b>Stay Up-to-Date</b> - By staying in-the-know, you remain vigilant to phishing attempts. Research common phishing scams so that you’re aware of what security professionals see as the main threats. The more aware you are of what’s out there, the more likely you are to identify a possible attack.  <br><br>

                  </p>
                </div>
              </li>              

            </ul>
          </div>
  
        </div>
      </section><!-- End Frequently Asked Questions Section -->

  <main id="main">    
          
          <!-- ======= about Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2>About PhishDetector</h2>
                <p>Phishing is an internet scam in which an attacker sends out fake messages that look to come from a trusted source. A URL or file will be included in the mail, which when clicked will steal personal information or infect a computer with a virus. Phish Detector is a project
                    which aims to help reduce phishing attack by helping internet users authenticate URL link by testing if it is phishing or legitimate. The progress of validating a Website URL for phishing or legitimate has gone through several Machine learning models. 
                    </p>                
                    
                    <h3>About Us</h3>
                    <p>This Project is done by Final Year Students of Computer Science and Engineering at G Pulla Reddy Engineering College<br><br><h5 style="color:white;"><b>K Asrith<br>B Hemanth<br>B Lingesh<br><br><h6>Guided By</h6><h5>Sri M Anand</h5></b></p></p>
              </div>
      
            </div>
          </section><!-- End about Section -->
  


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">

      <div class="text-center text-md-center">
        <div class="copyright">
          <img src="static/assets/img/google.png" alt="">
          <a href="https://phishingquiz.withgoogle.com/" target="_blank" class="get-started-btn scrollto">Take a Phishing Test by GOOGLE</a> <br>
          <hr/> 
		  <p style="padding-top: 8px; font-weight: 600;"><a style="text-decorations:none; color:inherit;" href="https://github.com/asrith-reddy" >Final Year Project &copy; 2024.All Rights Reserved</a></p><a href="https://github.com/asrith-reddy/Phishing-detector" ><button style="font-size:15px" class="button3">Source Code <i class="fa fa-github"></i></button></a>
        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script>
    function scrolldiv() {
        var elem = document.getElementById("about");
        elem.scrollIntoView();
    }
  </script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>
